@import url("https://use.typekit.net/qpr0lxo.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;

}

section {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.homefirst {
    width:100%;
    height: 100%;
    background-image: url('/images/10.jpg');
    /* background-color: #14274A; */
    /* background-color: rgba(247, 241, 241, 0.4); */
    background-blend-mode:screen;
    background-position:bottom;
    background-size:contain;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    margin-top: 0;
    width: 90%;
    color: black;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    border-bottom: 5px rgb(245, 189, 116) solid;
}

.navbar > div {
    padding: 20px 29px;
    font-size: 25px;
    height: 45px;
    align-items: center;
}

.home {
    margin-left: auto;
    align-items: center;
}

.facilities {
    font-weight: bold;
    color: white;
}

.logo {
    margin-left:155px;
    display: inline-block;
    background-color: #E0B973;
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;
    display: flex;
    flex-direction: column;
    color: black;
    font-family:adobe-garamond-pro, serif;
}

.logo h2 {
   font-size: 25px;
   flex:1;
   margin: 0;
   padding: 0;
   font-family: adobe-garamond-pro, serif;
}

.logo h3 {
    font-size: 15px;
    font-weight:lighter;
    margin: 0;
    padding: 0;
    color: black;

}

.hotelname {
    margin-top: 100px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 70%;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    color:white;
    font-size: 50px;
    margin: 0;
    padding: 0;
    flex: 1;
    font-weight: 400;
}

h1 {
    color: white;
    line-height: 184.8px;
    margin: 0;
    font-size: 154px;
    padding: 0;
    font-family: adobe-garamond-pro,serif;
    font-weight: 700;
    font-style: normal;
}

p {
    color:white;
    font-size: 20px;
}

.btn {
    background-color: rgb(245, 189, 116);
    border:none;
    height: 50px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    /* margin-left: 700px; */
    margin-top: 75px;
    width: 200px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.house {
    color: white;
    width: 30px;
    padding-right: 2px;
}

.btn a {
    text-decoration: none;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
}

.scroll {
    /* margin-left: 749px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll p {
    font-size: 20px;
    font-weight: 400;
    margin-left: -2px;
    margin-bottom:0 ;
}

.scroll img {
    width: 35px;
    margin:0;
}

.containerbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.facility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
}

.facility h3 {
    color: black;
    font-weight: bold;
}

.facility p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 90%;
}

.picone{
    width: 1380px;
    height: 700px;
    background-image: url(/images/gym.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.picone .gym {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictwo {
    width: 1380px;
    height: 700px;
    background-image: url(/images/12.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.pictwo .bar {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picthree {
    width: 1380px;
    height: 700px;
    background-image: url(/images/13.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.picthree .spar {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picfour {
    width: 1380px;
    height: 700px;
    background-image: url(/images/14.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.picfour .pool {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picfive {
    width: 1380px;
    height: 700px;
    background-image: url(/images/ibrahim-boran-m8YjB0noWiY-unsplash.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.picfive .food {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picsix {
    width: 1380px;
    height: 700px;
    background-image: url(/images/15.jpg);
    background-color: rgba(19, 18, 18, 0.4);
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 70px;
}

.picsix .laundry {
    background-color: white;
    /* border-radius: 16px; */
    width: 500px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}


.scroll {
    /* margin-left: 749px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll p {
    font-size: 20px;
    font-weight: 400;
    margin-left: -2px;
    margin-bottom:0 ;
}

.scroll img {
    width: 35px;
    margin:0;
}

.picseven{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding:0;
    align-items: center;
    justify-content: center;
}

.picseven h4 {
    font-family: adobe-garamond-pro, serif;
    font-size: 60px;
    margin: 0;
}

.picseven h5 {
    font-size: 30px;
    padding:0;
    margin: 0;
}

.picseven p {
    font-size: 20px;
    color: black;
}


.foot {
    height: 320.99px;
    width: 97%;
    background-color: #14274A;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 50px;
    margin: 0;
}

.one {
    flex:1;
}

.anotherlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
}

.anotherlogo h3 {
    color: white;
    font-family:adobe-garamond-pro, serif;
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    padding:0;
}

.anotherlogo h5 {
    font-size: 9px;
    margin:0;
}

.address {
    margin-top: 15px;
}

.address p{
    color:white;
    font-size: 14px;
    margin:0;
}

.two {
    flex: 1;
}
.two p {
    color: white;
    font-size: 14px;
}

.three {
    flex:1;
}

.icons {
    padding-right: 15px;
}

.three p {
    color: white;
    font-size: 16px;
}

.four {
    flex:1;
}

.four p {
    color: white;
    font-size: 16px;
}

.four .btn {
    display:inline-block;
    width: 82px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: #14274A;
    border: #E0B973 2px solid;
}

input {
    height: 48px;
    width: 276px;
    border: 2px #E0B973 solid;
    border-radius: 2px;
    border-width: 2px;
    color: #14274A;
}

input::placeholder {
    font-family:adobe-garamond-pro, serif ;
    font-size: 20px;
    font-weight: 600;
}